$primary-color: #42444d;
$text-color: #dbdbdb;
$text-color-hover: #ffae00;

$header-color: #121316;

$footer-color: #242427;
$footer-text-color: #444444;
$footer-button-color: #929292;

//Screen sizes
$medium: 960px;

