$primary-color: #34353b;
$text-color: #dbdbdb;
$text-color-hover: #ff9100;

$header-color: #121316;

$footer-color: #202024;
$footer-text-color: #444444;
$footer-button-color: #929292;

//Screen sizes
$small: 480px;
$medium: 768px;
$large: 1024px;

