$primary-color: #33353f;
$text-color: #dbdbdb;
$text-color-hover: #ff9100;

$header-color: #0c0d11;

$footer-color: #1b1b1f;
$footer-text-color: #444444;
$footer-button-color: #929292;

//Screen sizes
$small: 480px;
$medium: 768px;
$large: 1024px;
